<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<appender name="A1" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%-4r %-5p [%t] %37c %3x - %m%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->
    <root level="ERROR">
        <appender-ref ref=""/>
    </root>
</configuration>